/* Normalización */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* esto mantiene el ancho y alto a pesar del padding y border  */
  list-style: none;
  color: white;
  text-decoration: none;
}

body {
  background: rgb(0, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 50, 0.9697128851540616) 0%,
    rgba(71, 60, 132, 0.7120098039215687) 88%
  );
  height: 100%;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.logo {
  margin: 0.5rem;
  text-decoration: underline blueviolet;
  font-size: 20px;
}

.navlist {
	display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
  width: 250px;
  height: 250px;
  position: absolute;
	opacity: 0;
  top: 5%;
  right: 0;
  transition: opacity 0.4s ease-in;
  padding: 2rem;
  cursor: pointer;
}

input {
  display: none;
}

#menu-toggle:checked ~ .navlist {
  display: flex;
	opacity: 1;
}

.navlist a {
  font-size: 18px;
}

.navlist a:hover {
  border-bottom: 2px solid blueviolet;
  cursor: pointer;
}

#menu-icon {
  color: white;
  font-size: 35px;
  z-index: 2;
  cursor: pointer;
}

.hero {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

h5,
h2,
p {
  padding: 0.8rem;
  text-align: center;
}

h5,
p {
  font-size: 18px;
  font-weight: 200;
}

h5 {
  text-decoration: double blueviolet 1.5px;
}

h2 {
  font-size: 35px;
  font-weight: 800;
}

.hero-text {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.button-container a {
  border: solid 1px white;
  border-radius: 0.4rem;
  padding: 0.8rem;
}

.button-container a > i {
  margin: 8px;
}

.button-container a:hover {
  background-color: blueviolet;
  opacity: 0.8;
  cursor: pointer;
}

.hero-img img {
  width: 320px;
  height: 300px;
  border-radius: 100%;
}

@media (min-width: 820px) {

	.logo{
		font-size: 40px;
	}

	.menu-icon-action{
		display: none;
	}

	.navlist{
		display: flex;
		flex-direction: row;
		position: relative;
		width: 100%;
		height: auto;
		opacity: 1;
		background: none;
	}

	.navlist a{
		font-size: 20px;
		font-weight: 100;
		padding: 1rem;
	}

	.navlist a:hover{
		background-color: rgba(0, 0, 0, 0.4);
		border-radius: 10px;
	}




/* 
	.navlist {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		background-color: rgba(0, 0, 0, 0.9);
		width: 250px;
		height: 250px;
		position: absolute;
		opacity: 0;
		top: 5%;
		right: 0;
		transition: opacity 0.4s ease-in;
		padding: 2rem;
		cursor: pointer;
	}
 */


	.hero{
		display: flex;
		flex-direction: row;
		height: 60vh;
		transition: all 0.5s ease;
	}
	
	.hero-text{
		height: 80%;
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transition: all 0.5s ease;
	}

	h5,h2,p {
		margin: 2rem;
	}

	h5{
		font-size: 35px;
		transition: all 0.5s ease;
	}
	
	h2{
		font-size: 50px;
		transition: all 0.5s ease;
	}

	.button-container{
		justify-content: space-around;
		width: 100%;
	}

	.hero-img{
		width: 40%;
	}



}